a {
	COLOR: #3366FF; TEXT-DECORATION: underline
}
a:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}

table
{
	font-family: "Microsoft Sans Serif, MS Sans Serif, sans-serif";
	font-size: 12px;
}
body
{
	font-family: "Microsoft Sans Serif, MS Sans Serif, sans-serif";
	font-size: 12px;
}

.bluenav {
	FONT-SIZE: 13px; COLOR: #ffffff
}

.FontBigHead
{
	font-family: "Microsoft Sans Serif, MS Sans Serif, sans-serif";
	font-size: 18px;
	FONT-WEIGHT: bold;
}

.FontBigSub
{
	font-family: "Microsoft Sans Serif, MS Sans Serif, sans-serif";
	font-size: 16px;
	FONT-WEIGHT: bold;
}

.FontSmall
{
	font-family: "Microsoft Sans Serif, MS Sans Serif, sans-serif";
	font-size: 10px;
}

.fontnormalwhite
{
	font-family: "Microsoft Sans Serif, MS Sans Serif, sans-serif";
	font-size: 12px;
	COLOR: #FFFFFF;
}

.linkwhite{
	font-family: "Microsoft Sans Serif, MS Sans Serif, sans-serif";
	font-size: 12px;
	}
 a.linkwhite{COLOR: #FFFFFF; TEXT-DECORATION: underline;}
 a:hover.linkwhite {COLOR: #FF6600; TEXT-DECORATION: underline;}


.button {
	font-family: "Microsoft Sans Serif, MS Sans Serif, sans-serif";
	font-size: 12px;
	color: #000000 ;
	cursor: hand;
	font-weight: normal;
}

.txtbox {
	font-family: "Microsoft Sans Serif, MS Sans Serif, sans-serif";
	font-size: 12px;
	background-color: #FFFFFF;  
}

.BorderBlue {
	BORDER-RIGHT: #425e89 1px solid; BORDER-TOP: #425e89 1px solid; BORDER-LEFT: #425e89 1px solid; BORDER-BOTTOM: #425e89 1px solid
}
